<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>dashstock</name>
	<displayName><![CDATA[Dashboard Stock]]></displayName>
	<version><![CDATA[0.1]]></version>
	<description><![CDATA[]]></description>
	<author><![CDATA[Lyon Sun]]></author>
	<tab><![CDATA[dashboard]]></tab>
	<is_configurable>0</is_configurable>
	<need_instance>1</need_instance>
	<limited_countries></limited_countries>
</module>